*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************variables************************************/
    $colorPrincipal: #b83963;
    $colorSecundario: #E15073;
    $colorTres: #a72544;

/********************************mixins************************************/

    @mixin widthHeight ($width, $height)
    {
        width: $width;
        height: $height;
    }

/*************************pisando componentes de bs*************************/
header {
    position: fixed !important;
    z-index: 1;
    width: 100%;
}

nav {
   z-index: 1 !important;
}
.navegar {
    background-color: $colorPrincipal;
}
.bg-body-tertiary {
    background-color: $colorPrincipal !important;
}
.btn-outline-success {
    border-radius: 8rem !important;
    font-family: Inter !important;
    border-color: white !important;
    color: white !important;
}
.btn-outline-success:hover {
    background-color: $colorTres !important;
    border-color: $colorTres !important;
}
.btn {
    background-color: $colorSecundario !important;
    border-color: $colorSecundario !important;
    transition: 0.3s;
        &:hover{
            background-color: $colorTres !important;
            transform: scale(1.1);
        }
}
.form-control {
    border-color: $colorSecundario !important;
    color: $colorSecundario !important;
        &:active{
            box-shadow: $colorSecundario !important;
        }
}
.active {
    color: white !important;
    font-family: Inter !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
        &:hover {
            color: black !important;
        }
}

/****************************************header*************************************/

#logo1 {
    width: 150px;
    height: 150px;
}
#search {
    width: 1rem;
    height: 1rem;
}
.nav-link {
    margin-left: 1rem !important;
}
.buscador:active {
    border-color: #a72544 !important;
    box-shadow: 3px 3px #a72544 !important;
}
.navbar-toggler {
    border: transparent !important;
    color: transparent !important;
        &:active {
            border-color: white !important;
        }
}
.menuH {
    @include widthHeight (2rem, 2rem);
}

.btns {
    @include widthHeight (100px,40px);
    background-color: $colorSecundario;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}
.botonVender {
    @extend .btns;
    transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
            background-color: $colorTres;
        }
}
.botonIngresar {
    @extend .btns;
    text-decoration: none;
    transition: all 0.3s;
    margin-left: 1rem;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: $colorTres;
        }
        #colorIngresar {
            color: white;
            text-decoration: none;
        }
}

.iconos {
    @include widthHeight (40px, 40px);
    background-color: $colorSecundario;
    border-radius: 20px;
    transition: all 0.3s;
    margin-left: 1rem;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: #a72544;
        }
}
.carrito {
    margin-right: 2rem;
}
.menu {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
.botones {
    grid-area: botones;
    justify-content: space-evenly;
}

/********************************inicio*******************************/

.tamañoMax {
    padding-top: 10rem;
    padding-bottom: 5rem;
    .carousel-control-next, .carousel-control-prev {
        z-index: 0 !important;
    }
}
.tipografia {
    font-family: Inter;
    padding: 1% 0% 1% 39%;
    color: white;
}
.bg-pink {
    background: radial-gradient(circle, rgba(225,80,115,1) 0%, rgba(184,57,99,1) 50%, rgba(167,37,68,1) 100%);
}
.mobile-inicio {
    display: none;
}

/*************************************footer***********************************/

footer {
    background-color: $colorPrincipal;
    .iconoFb {
        margin: 20px 0px 20px 5px;
    }
    .iconoIg {
        margin: 20px 0px 20px 20px;
    }
    #help {
        @include widthHeight (15px,15px);
        margin: 30px 10px 30px 15px;
    }
    .imgCopy {
        @include widthHeight (1.2%,1.2%);
        color: white;
        float: right;
    }
    .textCopy {
        color: black;
        font-family: Inter;
        font-size: 12px;
    }
    
}

/**************************************cards de productos**************************************/

.ingresar {
    border: 2px solid $colorPrincipal;
    border-radius: 20px;
    background-color: $colorPrincipal;
    @include widthHeight (300px,500px);
    margin: 0px 250px 200px 500px;
}

.grid_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 3rem;
        .cardP {
        width: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        border: 4px solid #b83055;
        padding: 1rem;
        font-family: Inter;
        background-color: white;
        transition: 0.8s;
        box-shadow: #eca8b8 0px 25px 30px, #ec90af 0px -12px 20px, #f388ac 0px 4px 6px, #f5759f 0px 12px 13px, #ee719a 0px -3px 5px;
            &:hover {
                transform: scale(1.03);
            }
                &:nth-child(-n + 4) {
                    margin-top: 13rem;
                }
        }
        .imagen-card {
            height: 17rem;
            border-radius: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .textProd {
            margin-top: 1.5rem;
            font-size: 1.2rem;
            font-weight: 500;
        }
        
        .textUser {
            margin-top: 1.4rem;
            font-size: 1rem;
        }
        .btnComprar {
            @include widthHeight (150px,35px);
            background-color: $colorSecundario;
            color: white;
            border-radius: 25px;
            border: none;
            font-family: Inter;
            font-weight: 600;
            font-size: 14px;
            text-decoration: none;
            opacity: 0;
            transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    opacity: 100;
                }
        }
        .btnOfertas {
            position: absolute;
            @include widthHeight (100px,35px);
            color: white;
            border-radius: 25px;
            border: none;
            font-family: Inter;
            font-weight: 600;
            font-size: 20px;
            text-decoration: none;
            margin-bottom: 19rem;
            margin-left: 8rem;
            box-shadow: 1px 1px 1px 1px rgb(172, 169, 169);
        }
        .btn2x1 {
            background-color: $colorSecundario;
            @extend .btnOfertas;
        }
        .btnOFF {
            background-color: black;
            @extend .btnOfertas;
        }
        .texTachado {
            text-decoration: line-through;
            margin-right: 12px;
            margin-top: 2px;
        }
        .textPrecio {
            margin-top: 0;
            font-size: 1rem;
            font-weight: 800;
        }

}
.userImg {
    @include widthHeight (2.8rem,2.8rem);
    margin: 0.5rem 0.3rem 1.5rem 0rem;
}
.userVend {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    border-bottom: 3px solid #b83055;
    margin-bottom: 2.5rem;
}
.paddingText {
    padding-top: 5.5%;
    font-family: Inter;
    color: black;
}
.cardUser {
    width: 20rem;
    margin: 3%;
    margin-bottom: 8%;
    border: 4px solid #b83055;
    border-radius: 2rem;
    box-shadow: #eca8b8 0px 25px 30px, #ec90af 0px -12px 20px, #f388ac 0px 4px 6px, #f5759f 0px 12px 13px, #ee719a 0px -3px 5px;
    transition: 0.5s;
        &:hover {
            transform: scale(1.03);
        }
}
.gap {
    gap: 5%;
}

.textColor {
    color: black;
    font-weight: 800;
    font-size: 19px;
}
a:hover {
    cursor: pointer;
}

/************************************contacto**************************************/

.espacioDiv {
    height: 10rem;
}

#contact {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-box {
        width: clamp(100px, 90%, 1000px);
        margin: 80px 50px;
        display: flex;
        flex-wrap: wrap;
      }
      .form-label {
        color: white !important;
        }
      .contact-links, .contact-form-wrapper {
        width: 50%;
        padding: 8% 5% 10% 5%;
      }
            
      .contact-links {
        background-color: $colorTres;
        background:
          radial-gradient(
            circle at 55% 92%, $colorTres 0 12%, transparent 12.2%
          ), 
          radial-gradient(
            circle at 94% 72%, $colorTres 0 10%, transparent 10.2%
          ), 
          radial-gradient(
            circle at 20% max(78%, 350px), $colorTres 0 7%, transparent 7.2%
          ), 
          radial-gradient(
            circle at 0% 0%, $colorTres 0 40%, transparent 40.2%
          ), 
          $colorPrincipal;
        border-radius: 10px 0 0 10px;
      }
      
      .contact-form-wrapper {
        background-color: #f5d9e2;
        border-radius: 0 10px 10px 0;
      }
      @media only screen and (max-width: 800px) {
        .contact-links, .contact-form-wrapper {
          width: 100%;
        }
        
        .contact-links {
          border-radius: 10px 10px 0 0;
        }
        
        .contact-form-wrapper {
          border-radius: 0 0 10px 10px;
        }
      }
      @media only screen and (max-width: 400px) {
        .contact-box {
          width: 95%;
          margin: 8% 5%;
        }
      }
      .textoCont {
        font-family: Inter;
        color: #fff;
        font-size: clamp(30px, 6vw, 45px);
        letter-spacing: 2px;
        text-align: center;
        transform: scale(.95, 1);
      }
      
      .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
      }
      
      .link {
        margin: 10px;
        cursor: pointer;
      }
      
      .imgContact {
        @include widthHeight (45px,45px);
        transition: 0.2s;
        user-select: none;
            &:hover {
                transform: scale(1.1, 1.1);
            }
            &:active {
                transform: scale(1.1, 1.1);
                filter: 
                  hue-rotate(220deg)
                  drop-shadow(2px 4px 4px #222)
                  sepia(0.3);
              }
      }
      
      .form-item {
        position: relative;
      }
      
      label, input, textarea {
        font-family: Inter;
      }
      
      label {
        position: absolute;
        top: 10px;
        left: 2%;
        color: #999;
        font-size: clamp(14px, 1.5vw, 18px);
        pointer-events: none;
        user-select: none;
      }
      
      .input-textA {
        width: 100%;
        outline: 0;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 12px;
        font-size: clamp(15px, 1.5vw, 18px);
      }
      
      input:focus+label, 
      input:valid+label, 
      textarea:focus+label, 
      textarea:valid+label {
        font-size: clamp(13px, 1.3vw, 16px);
        color: #777;
        top: -20px;
        transition: all .225s ease;
      }
      
      .submit-btn {
        background-color: $colorSecundario;
        filter: drop-shadow(2px 2px 3px #0003);
        color: #fff;
        font-family: Inter;
        font-size: clamp(16px, 1.6vw, 18px);
        display: block;
        padding: 12px 20px;
        margin: 15px auto;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        transition: 0.2s;
            &:hover {
                background-color: $colorTres;
                transform: scale(1.1, 1.1);
            }
            
            &:active {
                transform: scale(1.1, 1.1);
                filter: sepia(0.5);
            }
      }
      @media only screen and (max-width: 820px) {
        .textoCont {
          font-size: clamp(30px, 10vw, 30px);
        }
      }
      
      @media only screen and (max-width: 400px) {
        .textoCont {
          font-size: clamp(30px, 12vw, 30px);
        }
        
        .links {
          padding-top: 30px;
        }
        
        .imgContact {
            @include widthHeight (38px,38px);
        }
      }
    
  }
  
  
/*********************************formulario ingresar********************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form-section {
  background-color: white;
  @include widthHeight (100%,100vh);
  display: grid;
  place-items: center;
  margin-bottom: 25%;
  .form-wrapper {
    @include widthHeight (375px,650px);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    margin-top: 17%;
  }
  .form-wrapper.flip {
    transform: rotateY(180deg);
  }
}

/******************************** Inicio form registrar ************************************/
.signup-form {
  background-color: $colorPrincipal;
  position: absolute;
  @include widthHeight (100%,100%);
  border-radius: 1rem;
  padding: 1rem;
  backface-visibility: hidden;
  display: grid;
  justify-items: center;
  align-content: space-around;
  box-shadow: #eca8b8 0px 50px 55px, #ec90af 0px -12px 30px, #f388ac 0px 4px 6px, #f5759f 0px 12px 13px, #ee719a 0px -3px 5px;
    h2 {
        color: white;
        margin-top: 12%;
        font-size: calc(5px*5);
    }
    .form-control {
        width: 100%;
        display: grid;
        small {
            visibility: hidden;
        }
    }
    .form-control.error {
        small {
            visibility: visible;
        }
    }
    button{
        background-color: $colorSecundario;
        border: none;
        border-radius: 2rem;
        height: 2.5rem;
        width: 40%;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
                background-color: $colorTres;
            }
    }
    p {
        color: white;
        a{
            text-decoration: none;
            font-weight: 600;
            color: #530d1d;
        }
    }
    
}

.form-control {
    input {
        border: none;
        border-radius: 2rem;
        height: 0.5rem;
        padding: 2rem;
    }
}

/******************************** Inicio Form Ingresar *******************************************/

.login-form {
  background-color: $colorPrincipal;
  position: absolute;
  @include widthHeight (100%,100%);
  border-radius: 0.5rem;
  padding: 6rem 1rem;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  display: grid;
  justify-items: center;
  align-content: space-around;
    h2 {
        color: white;
        font-size: calc(5px*5);
    }
    .form-control {
        display: grid;
        width: 100%;
            small {
                visibility: hidden;
            }
    }
    .form-control.error {
        small {
            visibility: visible;
        }
    }
    button{
        background-color: $colorSecundario;
        border: none;
        border-radius: 2rem;
        height: 2.5rem;
        width: 40%;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
                background-color: $colorTres;
            }
    }
    p {
        color: white;
            a {
                text-decoration: none;
                font-weight: calc(500+100);
                color: #530d1d;
            }
    }
}

.form-control {
    input {
        border: none;
        border-radius: 0.25rem;
        height: 2rem;
        padding: 0 0.25rem;
    }
}



/*********************************media queries*********************************************/

@media (min-width: 549px) and (max-width: 1199px ) {
    .menu {
        justify-content: flex-start;
        font-size: 12.5px;
    }
    .botonIngresar {
        margin-right: 1px;
        margin-left: 1px;
        @include widthHeight (5.5rem,2.5rem);
        font-size: 12px;
    }
    .botonVender {
        @include widthHeight (5.5rem,2.5rem);
        font-size: 12px;
    }
    .botones {
        max-width: 20rem;
    }
      #logo1 {
        @include widthHeight (8.2rem,8.3rem);
      }

    .cardP {
        margin-left: 2rem;
            &:nth-child(-n + 1) {
                margin-top: 13rem;
            }
    }
    .tipografia {
        padding: 1% 0% 1% 35%;
    }
}

@media screen and (max-width: 548px) {
    #logo1 {
       display: none;
    }
    .tipografia {
        padding: 1% 0% 1% 24%;
        font-size: 14px;
    }
    .cardP:nth-child(-n + 1) {
        margin-top: 7rem;
    }
    .cardUser {
        width: 15rem;
        margin: 18%;
    }
    .paddingText {
        font-size: 14px;
        padding-top: 11.5%;
    }
    .form-wrapper {
        @include widthHeight (280px,500px);
    }
    .signup-form {
        h2 {
            margin-top: 12%;
            font-size: 20px;
        }
        button {
            @include widthHeight (35%,2rem);
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }
      }
    .login-form {
        h2 {
            color: white;
            font-size: 20px;
        }
        button {
            @include widthHeight (35%,2rem);
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }
    }
    .form-control {
        input {
            @include widthHeight (5rem,1rem);
                &::placeholder {
                    font-size: 10px;
                }
        }
    }  
    .mobile-inicio {
        display: block;
    }
    .inicio-mobile {
        max-width: 415px ;
    }
    #carouselExample {
        display: none;
    }
    .tamañoMax {
        padding-top: 5.5rem;
    }
    
}