*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed !important;
    z-index: 1;
    width: 100%;
}

:root{
    --colorPrincipal: #b83963;
}
:root{
    --colorSecundario: #E15073;
}
:root{
    --colorTres: #a72544;
}

nav {
   z-index: 1 !important;
}
.navegar {
    background-color: var(--colorPrincipal);
}
.bg-body-tertiary {
    background-color: #b83963 !important;
}
.btn-outline-success {
    border-radius: 8rem !important;
    font-family: Inter !important;
    border-color: white !important;
    color: white !important;
}
.btn-outline-success:hover {
    background-color: #a72544 !important;
    border-color: #a72544 !important;
}
.btn {
    background-color: #E15073 !important;
    border-color: #E15073 !important;
}
.form-control {
    border-color: #E15073 !important;
    color: #E15073 !important;
}
.form-control:active {
    box-shadow: #E15073 !important;
}
.active {
    color: white !important;
    font-family: Inter !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
}
.active:hover {
    color: black !important;
}

#logo1 {
    width: 150px;
    height: 150px;
}
#search {
    width: 1rem;
    height: 1rem;
}
.nav-link {
    margin-left: 1rem !important;
}
.buscador:active {
    border-color: #a72544 !important;
    box-shadow: 3px 3px #a72544 !important;
}
.navbar-toggler {
    border: transparent !important;
    color: transparent !important;
}
.navbar-toggler:active {
    border-color: white !important;
}
.menuH {
    width: 2rem;
    height: 2rem;
}

.botonVender {
    width: 100px;
    height: 40px;
    background-color: #E15073;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s;
}
.botonVender:hover {
    transform: scale(1.1);
    background-color: #a72544;
}
.botonIngresar {
    width: 100px;
    height: 40px;
    background-color: #E15073;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
    margin-left: 1rem;
}
.botonIngresar:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #a72544;
}
#colorIngresar {
    color: white;
    text-decoration: none;
}
.iconos {
    background-color: #E15073;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-left: 1rem;
}
.iconos:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #a72544;
}
.carrito {
    margin-right: 2rem;
}
.menu {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
#imgInicio {
    margin-top: 10rem;
}
.fondoInicio {
    background-color: #E15073;
}

.tamañoMax {
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.espacio { 
    width: 100%;
    height: 1rem;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 0 !important;
}
.tipografia {
    font-family: Inter;
    padding: 1% 0% 1% 39%;
    color: white;
}
.bg-pink {
    background: radial-gradient(circle, rgba(225,80,115,1) 0%, rgba(184,57,99,1) 50%, rgba(167,37,68,1) 100%);
}
.iconoFb {
    margin: 20px 0px 20px 5px;
}
.iconoIg {
    margin: 20px 0px 20px 20px;
}
#help {
    width: 15px;
    height: 15px;
    margin: 30px 10px 30px 15px;
}
.gridMenu {
    width: 100%;
    display: grid;  
    grid-template-areas:
    "logo buscar navegacion botones";
    grid-template-rows: 1fr; 
    grid-template-columns: 0.2fr 1fr 1fr 0.9fr;
    background-color: #b83963;
    position: fixed;

}
.logo {
    grid-area: logo;
}
.input {
    grid-area: buscar;
    margin-left: 4rem;
}
.botones {
    grid-area: botones;
    justify-content: space-evenly;
}
body {
    margin: 0;
}
footer {
    background-color: #b83963;
}
.divProd1 {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}
.bordeProd {
    border: 2px solid rgb(182, 178, 178);
    border-radius: 20px;
    margin-top: 200px;
    height: 450px;
}
.bordeProds {
    border: 2px solid rgb(182, 178, 178);
    border-radius: 20px;
    height: 450px;
}
.contacto {
    border: 2px solid #b83963;
    background-color: #b83963;
    width: 300px;
    height: 200px;
    margin: 0px 250px 200px 500px;
}
#div {
    height: 200px;
}
.ingresar {
    border: 2px solid #b83963;
    border-radius: 20px;
    background-color: #b83963;
    width: 300px;
    height: 500px;
    margin: 0px 250px 200px 500px;
}

.grid_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 3rem;
}
.imagen-card {
    height: 17rem;
    border-radius: 1rem;
}

.cardP {
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #b83963;
    border-radius: 2rem;
    padding: 1rem;
    font-family: Inter;
    background-color: white;
}
.cardP:hover {
    cursor: pointer;
    box-shadow: 3px 3px #b83963;
}
.cardP:nth-child(-n + 4) {
    margin-top: 13rem;
}
.textProd {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.textPrecio {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}
.userImg {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.5rem 0.3rem 1.5rem 0rem;
}
.paddingText {
    padding-top: 5.5%;
    font-family: Inter;
    color: black;
}
.cardUser {
    width: 20rem;
    margin: 3%;
    margin-bottom: 8%;
}
.gap {
    gap: 5%;
}
.userVend {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.textUser {
    margin-top: 1.4rem;
    font-size: 1rem;
}
.btnComprar {
    width: 150px;
    height: 35px;
    background-color: #E15073;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    opacity: 0;
}
.btnComprar:hover {
    cursor: pointer;
    opacity: 100;
}
.btn2x1 {
    position: absolute;
    width: 100px;
    height: 35px;
    background-color: #E15073;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 21rem;
    margin-left: 8rem;
    box-shadow: 1px 1px 1px 1px rgb(172, 169, 169);
}
.btnOFF {
    position: absolute;
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 21rem;
    margin-left: 8rem;
    box-shadow: 1px 1px 1px 1px rgb(172, 169, 169);
}
.texTachado {
    text-decoration: line-through;
    margin-right: 12px;
    margin-top: 2px;
}
.textColor {
    color: black;
    font-weight: 800;
    font-size: 19px;
}
a:hover {
    cursor: pointer;
}
.formContacto {
    padding: 10rem;
}
.tamañoContacto {
    margin: 4rem 15rem;
    margin-bottom: 4rem;
    height: 49rem;
    border-radius: 10rem;
}
.espacioDiv {
    height: 15rem;
}
.form-label {
    color: white !important;
}
.textContacto {
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
@media (min-width: 549px) and (max-width: 1199px ) {
    .menu {
        justify-content: flex-start;
        font-size: 12.5px;
    }
    .botonIngresar {
        margin-right: 1px;
        margin-left: 1px;
        width: 5.5rem;
        height: 2.5rem;
        font-size: 12px;
    }
    .botonVender {
        width: 5.5rem;
        height: 2.5rem;
        font-size: 12px;
    }
    .botones {
        max-width: 20rem;
    }
      #logo1 {
        width: 8.2rem;
        height: 8.3rem;
      }
      .cardP:nth-child(-n + 1) {
        margin-top: 13rem;
    }
    .cardP {
        margin-left: 2rem;
    }
    .tipografia {
        padding: 1% 0% 1% 35%;
    }
}

@media screen and (max-width: 548px) {
    #logo1 {
       display: none;
    }
    .tamañoMax {
        padding-top: 6rem;
    }
    .tipografia {
        padding: 1% 0% 1% 24%;
        font-size: 14px;
    }
    .cardP:nth-child(-n + 1) {
        margin-top: 7rem;
    }
    .cardUser {
        width: 15rem;
        margin: 18%;
    }
    .paddingText {
        font-size: 14px;
        padding-top: 11.5%;
    }
}